body{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 237, 224);
}

.container{
    width: 25vw;
    margin: 15vh auto;
    text-align: center;
    background-color: azure;
    border: 1px solid antiquewhite;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.span{
    font-size: 1.8rem;
}